$primary: #f7ebd3;
$danger: #ffdbaf;
$secundario: #ca7b42;
$tercero: #823919;
$cuarto: #521908;
$quinto: #31160a;

$primary-font: "Playfair";

$hover-box-shadow: 0 1px 20px rgba(252, 252, 252, 0.3);
$card-margin-top: 30px; // Margen superior para separar las tarjetas
